#fejlec{
    background-image: url(kepek/pizzaheader.jpg);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
   
}
#logo{
    font-size: 35px;
    padding: 15px;
    color: white;
 
}
.felsorol{
    float: right;
    height: 15px;
    padding: 30px;
    color:  white;
    margin-top: -6%;
   
   
   
   
}
h1{
    color: white;
}
#bemutat{
    background-color: rgb(54, 54, 54);
    height: 250px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    
   
 
 
 
}
#bemutat_bal{
    width: 40%;
    float: left;
    text-align: right;
    padding-right: 30px;
    box-sizing: border-box;
 
}
#bemutat_jobb{
    width: 60%;
    float: right;
    
    
}
#bemutat_jobb_szoveg{
width: 80%;
}
#bemutat_asztalfoglal{
    color: white;
    text-transform: uppercase;
}
 
 
 
#Piadina{
   
    margin: auto;
    color: white;
    margin-top: 1%;
    
   
}
#tortenet{
    color: gray;
       
    padding-left: 160px;
}
#menu{
    background-color: black;
    padding: 100px;
   
    display: block;
    text-align: center;
   
 
}
body{
    max-width: 1280px;
    margin: 0 auto;
    color: gray;
    
   
 
}
.kezdo{
    padding-bottom: 130px;
    margin: 0;
    height: 15px;
   
}    
 
 
#tortenet2{
    text-align: center;
}
 
 
#szoveg{
    width: 50%;
    margin-top: -5%;
    color: gray;
    float: right;
   
}
.tortenet2{
       padding-left: 140px;
       color: grey;
}
#szoveg2{
    float: right;
    padding-left: 150px;
    margin-top: -6%;
}
.foglal{
    float: right;
    padding-right: 210px;
    color: white;
}
.cím{
    text-align: center;
    margin-top: -5%;
   
   
}
h2{
    text-align: center;
    font-size: 15px;
   
    color: grey;
    margin-top: -2%;
}
.szoveg3{
    text-align: center;
    width: 60%;
    margin: 30px auto;
   
 
}
 
 
.panelek{
    display: inline;
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 2%;
    margin-right: 2%;
 
}
 
#pizza{
    margin-left: 5%;
}
 
#italok{
    margin-right: 5%;
}
 
#panelsor{
    text-align: center;
    width: 65%;
   
   
    margin: auto;
 
}
   
   
   
 
#special{
    background-color: rgb(54, 54, 54);
    padding: 100px;
    display: block;
    margin: auto;
   
}
#pizzakep{
   background-image: url(kepek/pizzaheader.jpg);
   width: 545px; 
   height: 360px;
   background-repeat: no-repeat;
   background-size: cover;
    margin-top: 40px;
}
#pizzakep_szoveg{
    text-align: center;
    color: white;
    padding-top: 340px;
}
#steak{
    background-image: url(kepek/steak.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top; 
    height: 450px;
    width: 300px;
    margin-left: 50px;
    margin-top: 40px;
    
 
}
#steak_szoveg{
    text-align: center;
    color: white;
    padding-top: 420px;
}
#felsokep{
    display: flex;
   
   
}
#alsokep{
    display: flex;
    
   
   
}
#salata{
    background-image: url(kepek/gomba.jpg);
    background-size: cover;
    height: 250px;
    width: 250px;
    margin-right: 45px;
    margin-top: -2%;
}
#salata_szoveg{
    text-align: center;
    color: white;
    padding-top: 230px;

}
#pizza2{
    background-image: url(kepek/pizza.jpg);
    background-size: cover;
    height: 250px;
    width: 250px;
    
    margin-top: -2%;
}

#pizza2_szoveg{
    color: white;
    text-align: center;
    padding-top: 230px;
}
 
#leves{
    background-image: url(kepek/leves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    height: 250px;
    width: 300px;
    margin-left: 50px;
    margin-top: 40px;
}
#leves_szoveg{
    text-align: center;
    color: white;
    padding-top: 230px;
}
#lablec{
    background-color: black;
    width: 100%;
    height: 1000px;
    
   
}
#szeretet{
    margin: auto;
    padding-top: 120px;
    padding-right: 140px;
   
   
}
#varunktext{
    color: white;
    padding-left: 0px;
    font-size: 18px;
    padding-right: 650px;
   
   
}
#nyitvatartas{
    margin: auto;
    height: 300px;
    width: 25%;
    margin-top: -5%;
    display: block;
 
   
}
h3{
    text-align: center;
}
#próba{
   
    padding-left: 850px;
    margin-top: -25%;
}
#cim_iras{
    font-size: 18px;
}
#szoveg_iras{
    color: gray;
    padding-right: 80px;
}
#vonal{
    width: 80%;
    margin-top: 520px;
 
}
#lablec2_szoveg{
    color: gray;
    text-align: center;
   
}
a{
    color: white;
}
 
@media only screen and (max-width: 1000px){
    #menu{
        height: 700px;
 
    }
    .panelek{
        display: block;
        width: 50%;
        margin: auto;
        margin-bottom: 5px;
        padding: auto;
 
    }
 
    #panelsor{
        width: 40%;
    }
    #bemutat{
        display: block;
    }
    


}