#fejlec{
    background-image: url(kepek/02ds48.jpg);
}
#bemutat{
    background-color: grey;
    padding: 60px;
    width: 100%;

}
#menu{
    background-color: black;
    padding: 100px;
    width: 100%;
    display: block;

}
    
