#fejlec{
    background-image: url(kepek/header.jpg);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    
}
#logo{
    font-size: 35px;
    padding: 15px;

}
.menu{
    float: right;
    height: 15px;
    padding: 30px;
    padding-bottom: 100%;
    margin-top: -100px;
    
    
    
    
}

#bemutat{
    background-color: rgb(54, 54, 54);
    padding: 60px;
    height: 150px;

}
#menu{
    background-color: black;
    padding: 100px;
    width: 100%;
    display: block;

}
body{
    max-width: 1280px;
    margin: 0 auto;
    color: white;

}
.kezdo{
    padding-bottom: 130px;
    margin: 0;
    height: 15px;
    
}    
#tortenet{
    padding-left: 200px;
    width: 50%;
    
    float: left;
    margin-top: -50px;

}

#tortenet2{
    text-align: center;
}


#szoveg{
    width: 50%;
    margin-top: -50px;
    
    float: right;
    
}
.tortenet2{
       padding-left: 140px;
       color: grey; 
}
#szoveg2{
    float: right;
    padding-left: 150px;
    margin-top: -50px;
}
.foglal{
    float: right;
    padding-right: 210px;
}